<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.campus.mapper.PermissionMapper">
    <!--
        * * @author woshizhuyijie
        * @date 2024-12-22
        *
   -->
    <resultMap id="PermissionResultMap" type="com.example.campus.pojo.Permission">
        <id column="permission_id" property="permissionId"></id>
        <result column="permission_name" property="permissionName"></result>
        <result column="permission_code" property="permissionCode"></result>
        <result column="permission_url" property="permissionUrl"></result>
        <result column="permission_order" property="permissionCode"></result>
    </resultMap>
    <insert id="createPermission" parameterType="com.example.campus.pojo.Permission">
        INSERT INTO t_sys_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">permission_id,</if>
            <if test="permissionName != null">permission_name,</if>
            <if test="permissionCode != null">permission_code,</if>
            <if test="permissionUrl != null">permission_url,</if>
            <if test="permissionOrder != null">`permission_order`,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="permissionId != null">#{permissionId},</if>
            <if test="permissionName != null">#{permissionName},</if>
            <if test="permissionCode != null">#{permissionCode},</if>
            <if test="permissionUrl != null">#{permissionUrl},</if>
            <if test="permissionOrder != null">#{permissionOrder},</if>
        </trim>
    </insert>
    <insert id="bindPermissionForRoleByRoleId">
        insert into t_sys_role_permission(role_id, perm_id) values (#{roleId},#{permissionId});
    </insert>
    <select id="queryPermissions" resultMap="PermissionResultMap">
        SELECT *
        FROM t_sys_permission
        <where>
            <if test="permissionId != null">AND permission_id = #{permissionId}</if>
            <if test="permissionName != null">AND permission_name = #{permissionName}</if>
            <if test="permissionCode != null">AND permission_code = #{permissionCode}</if>
            <if test="permissionUrl != null">AND permission_url = #{permissionUrl}</if>
            <if test="permissionOrder != null">AND `permission_order` = #{permissionOrder}</if>
        </where>
    </select>
    <select id="queryPermissionsByRoleId" resultType="com.example.campus.pojo.Permission" resultMap="PermissionResultMap">
        select p.*
        from t_sys_permission p  inner join t_sys_role_permission rp on p.permission_id = rp.perm_id
        where rp.role_id=#{roleId};
    </select>
    <select id="queryByPermissionNamePermission" resultType="com.example.campus.pojo.Permission" resultMap="PermissionResultMap">
        select * from t_sys_permission
        where permission_name=#{permissionName};
    </select>
    <update id="updatePermission" parameterType="com.example.campus.pojo.Permission">
        UPDATE t_sys_permission
        <set>
            <if test="permissionName != null">permission_name = #{permissionName},</if>
            <if test="permissionCode != null">permission_code = #{permissionCode},</if>
            <if test="permissionUrl != null">permission_url = #{permissionUrl},</if>
            <if test="permissionOrder != null">`permission_order` = #{permissionOrder},</if>
        </set>
        WHERE permission_id = #{permissionId}
    </update>

</mapper>